{
  "presets": ["es2015", "flow"],
  "plugins": ["transform-class-properties"],
  "env": {
    "commonjs": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs",
          {
            "loose": true
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "src": "./src"
            }
          }
        ]
      ]
    },
    "jest": {
      "plugins": ["dynamic-import-node"]
    }
  }
}
