{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "object-curly-spacing": ["error", "always"],
    "class-methods-use-this": "error",
    "complexity": ["error", 9],
    "default-case": "error",
    "dot-location": ["error", "property"],
    "no-dupe-args": "error",
    "eqeqeq": "error",
    "no-empty-function": ["error", { "allow": ["arrowFunctions"] }],
    "no-eval": "error",
    "no-global-assign": ["error", {"exceptions": ["Object"]}],
    "no-dupe-keys": "error",
    "import/first": [ "off", "DISABLE-absolute-first" ],
    "no-duplicate-imports": "error",
    "no-undef": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
  }
}
