sudo: false
cache:
  yarn: true
  directories:
    - node_modules
language: node_js
node_js:
  - '10'

before_install:
  - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > ~/.npmrc
install:
  - yarn install
  - yarn run bootstrap

script:
  - yarn run test
  - yarn run codeStyle
  - yarn run build
  - 'if [ "$TRAVIS_BRANCH" != "develop" ]; then bash scripts/publish.sh; fi'

deploy:
  - provider: script
    skip_cleanup: true
    script: bash scripts/publish.sh
    on:
      repo: scalecube/scalecube-js
      branch: develop
  - provider: script
    skip_cleanup: true
    script: bash scripts/publish.sh
    on:
      repo: scalecube/scalecube-js
      branch: master

after_deploy:
  - git status

